@using Entities.ViewModels.CategoryController
@model ListCategoriesViewModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Categories
            </h3>
        </div>
    </div>
</div>

<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Category List
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-actions">
                <a href="@Url.Action("AddCategory", "Category")" class="btn btn-bold btn-label-success btn-sm">
                    <i class="flaticon2-plus"></i>
                    New Category
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Parent Category</th>
                        <th>Create Date</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.CategoriesDtos)
                    {
                        <tr>
                            <td>
                                @category.Name
                            </td>
                            <td>
                                @if (category.ParentCategoryId != null)
                                {
                                    @Model.CategoriesDtos.FirstOrDefault(m => m.Id == category.ParentCategoryId).Name
                                }
                            </td>
                            <td>
                                @category.CreationDate
                            </td>
                            <td>
                                <a href="@Url.Action("Edit",new { categoryId=category.Id})" class="btn btn-pill btn-success btn-sm"><i class="fa fa-information"></i>&nbsp; Edit</a>
                            </td>
                            <td>
                                <a href="@Url.Action("DeleteCategory",new { categoryId=category.Id})" class="btn btn-pill btn-secondary btn-sm"><i class="fa fa-trash"></i>&nbsp; Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>